<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <button (click)="addPacienteOnclick ()" type="submit" style="left: 14px; position: relative; bottom: 10px;" class="btn btn-info btn-fill pull-left">
        Adicionar um paciente
      </button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-6">
                <h4 class="title">Lista de pacientes</h4>
                <p class="category">Todos os pacientes cadastrados no sistema</p>
              </div>
              <div class="col-md-6">
                <div style="float: right" class="form-group">
                  <label for="search"><b>Pesquisar</b></label><br>
                  <textarea class="form-control" id="search" class="materialize-textarea" 
                  (keyup)="onKey($event)" rows="1" placeholder="Busque pacientes por nome."></textarea>
                </div>
              </div>
            </div>
            
          </div>
          <div class="content table-responsive table-full-width" *ngIf="tableData1">
            
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData1.dataRows">
                  <td *ngFor="let cell of row">
                    {{ cell }}
                  </td>
                  <td style="cursor: pointer"  *ngIf="canRemovePatient()">
                      <span (click)="editPatient(row)" class="glyphicon glyphicon-pencil"></span>
                  </td>
                  <td style="cursor: pointer"  *ngIf="canRemovePatient()">
                    <span (click)="openModal(row)" class="glyphicon glyphicon-trash"></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="text-align: center" *ngIf="filterUsers.length > 7">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let item of getPages()" id="{{item}}">
                    <a style="cursor: pointer" class="page-link" (click)="setPageUsers(item)" >{{item}}</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Remover Paciente</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja remover o paciente  <b>{{patientToRemove}}?</b></p>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info btn-fill" data-dismiss="modal" (click)="deletePatient()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
