<div>
    <div class="d-flex">
        <ul class="nav nav-tabs nav-justified">
            <li id="status1"><a data-toggle="tab" (click)="state = SCHEDULE_PROFESSIONAL">Agendamentos por
                profissional</a></li>
            <li id="status2"><a data-toggle="tab" (click)="state = SCHEDULE_CID">Agendamentos por CID</a>
            </li>
            <li id="status3"><a data-toggle="tab" (click)="state = COMPANY_PATIENT">Pacientes por
                empresa</a></li>
        </ul>
    </div>


  <ng-container [ngSwitch]="state">
    <ng-template [ngSwitchCase]="SCHEDULE_PROFESSIONAL">
      <app-scheduling-dashboard></app-scheduling-dashboard>
    </ng-template>
  </ng-container>
</div>
