@import '../paciente/paciente.component.scss';


a {
  cursor: pointer;
}

td, th {
  text-align: center
}

#clinicalText {
  resize: inherit;
  height: 200px;
  width: 100%;
}

pre {
  border: 0px solid transparent;
}
